

<div class="container">

  
      <div class="card mt-5 text-center">
          <div class="card-header"><h4>Modifier Section</h4></div>
          <div class="card-body" *ngIf="unite">
              <div class="h5"></div>
  <form #f="ngForm" (submit)="EditUnite(f.value)">
              <div class="row m-3">
                  <label for="code" class="col-sm-2 col-form-label" >Commentaire :</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" id="code" name="code_u" ngModel [(ngModel)]="unite.code_u" disabled>
                  </div>
                </div>
              <div class="row m-3">
                  <label for="des" class="col-sm-2 col-form-label" >Commentaire :</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="des" name="designation" ngModel [(ngModel)]="unite.designation">
                  </div>
                </div>
  
                <div class="m-5 f-flex">
                <button class="btn btn-outline-success m-2">Valider</button>
                <button class="btn btn-outline-danger m-2" (click)="Annuler()">Annuler</button>
              </div>
            </form>
          </div>
      </div> 
  
  </div>
  
  