.scrollbar-dusty-grass::-webkit-scrollbar-track {

    background-color: #ffffff;
    border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-image: -webkit-linear-gradient(330deg, #79c8fc 0%, #2e12d0 100%);
    background-image: linear-gradient(120deg, #AED6F1  0%, #2E86C1 100%);
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}
.thin::-webkit-scrollbar {
    width: 6px;
}

